/* ==========================================================================
   CUSTOM CSS BY ME
   ========================================================================== */

/*
   Visibility
   ========================================================================== */

.zoom{
  /* default button */
  
  &:hover {
    transform: scale(1.25);
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

/* overlay effect (full height and width) - lays on top of the container */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: $dark-gray;
}

/* When you mouse over the container, fade in the overlay */
.container:hover .overlay {
  opacity: 0.25;
}

/* ==========================================================================
   BILINGUAL NOTES LAYOUT (Left: Chinese, Right: English)
   ========================================================================== */

.note-bilingual__content {
  .note-bilingual__wrapper {
    display: flex;
    gap: 2em;
    align-items: flex-start;
    
    @include breakpoint(max-width $medium) {
      flex-direction: column;
      gap: 1.5em;
    }
  }

  .note-bilingual__column {
    flex: 1;
    min-width: 0; // Prevents overflow
    
    &--chinese {
      padding-right: 1em;
      border-right: 1px solid $border-color;
      
      @include breakpoint(max-width $medium) {
        padding-right: 0;
        border-right: none;
        border-bottom: 1px solid $border-color;
        padding-bottom: 1.5em;
      }
    }
    
    &--english {
      padding-left: 1em;
      
      @include breakpoint(max-width $medium) {
        padding-left: 0;
        padding-top: 1.5em;
      }
    }
    
    h2 {
      margin-top: 0;
      padding-bottom: 0.5em;
      border-bottom: 1px solid $border-color;
    }
    
    p, li {
      line-height: 1.6;
    }
  }
}