/* ==========================================================================
   CUSTOM CSS BY ME
   ========================================================================== */

/*
   Visibility
   ========================================================================== */

.zoom{
  /* default button */
  
  &:hover {
    transform: scale(1.25);
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

/* overlay effect (full height and width) - lays on top of the container */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: $dark-gray;
}

/* When you mouse over the container, fade in the overlay */
.container:hover .overlay {
  opacity: 0.25;
}

/*
   X (Twitter) Icon
   ========================================================================== */

/* SVG icon styling */
.svg-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.25em;
  width: 1em;
  height: 1em;
}
